
/*  language start*/

.lang-container
{
    background-color: rgba(16, 16, 25, 0.9);
    color: white;
    width:70vw;
    margin-left:15vw;
    margin-right:15vw;

    display: none;
    align-items: center;
    justify-content: center;
   
    border-bottom-left-radius:0.5vw;
    border-bottom-right-radius:0.5vw;
    
    flex-wrap: wrap;
    padding-left: 1vw;
    padding-right:1vw;
    padding-top: 1vw;
    padding-bottom:1vw;

    z-index: 100;
}

.lang-item
{
    height:5.5vh;
    width:13vw;
    padding:0.5vw; 
    margin:0.5vw;
    font-size: 1.5vw;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.lang-item:hover
{
    background-color: white;
    border-radius: 0.5vw;
    color: black;
}