*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border:border-box;
    color: white;
}

.navbar
{
    height: 48px;
    display: flex;
    justify-content: flex-end; 
}

.nav-content
{
   display:flex;
   justify-content: space-evenly;
   width:30%;
   align-items: center;
}

.nav1
{
   font-size: 1rem;
}

.nav1:hover
{
    text-decoration: underline;
}

.nav-square:hover
{
    border-radius: 50%;
    background-color: #6e6f7b;
}

.Gmail
{
     display:flex;
     justify-content:center;
     align-items: center;
     height: 48px;
     width: 2rem;
}

.Gmail-img
{
    border-radius: 50%;
    background-image: url("gmail.png");
    background-size: contain;
    height: 30px;
    width: 1.9rem;
}

.Gmail-img:hover{
    border: 5px solid rgb(255, 251, 251);
}

/* navbar end */

/* navbar Heading */
.Heading
{
height: 290px;
text-align: center;
align-items: flex-end;
font-family:Arial, Helvetica, sans-serif;
display: flex;
font-size: 92px;
justify-content: center;
}



/* search bar */



.search-bar
{
    box-sizing: border-box;
    height: 72px;
    padding: 20px 20px 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search:hover{
    background-color: #303134;
    border: none;
}

.search{
    height: 46px;
    
    width:32rem;
    border: 0.2px solid ;
    border-radius: 2rem;

    display: flex;
    align-items: center;
    justify-content:center;
}



.search-icon1{
    width: 20px;
    height: 20px;
    margin:10px 0px;
}

.search-space{
    width: 80%;
}

.search-space-main{
    width: 100%;
    background-color: transparent;
    border: none;  
    outline: none;
    height: 100%;
    font-size: 20px;
}


.search-icon2{
    display: flex;
    justify-content: space-evenly;
   width: 60px;;
}


/* serch content */

.search-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    padding: 5px 20px 20px 20px;
}

.search-content-0{
    margin: 11px 4px; 
}

.search-content-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    height: 36px;
    
    background-color: #303134;
    border: 1px solid #303134;

    border-radius: 4px;
    color: #e8eaed;
    font-family: arial,sans-serif;
    font-size: 14px;
}

.search-content-1:hover{
    border: 2px solid #474a4d;
}

/* free  space */


.free-space
{
    min-height: 100px;
    display: flex;
    justify-content: center;
}

/* footer */
footer {
    position: fixed; /* Fixed position to keep it at the bottom */
    bottom: 0; /* Stick it to the bottom */
    width: 100%;}
.foot
{
   height: 50px;
   background-color: #161515;
}


.footer-1{
    box-sizing: border-box; 
    padding: 15px 30px;
    border-bottom: 1px solid #3c4043;
}

.footer-2{
    padding: 0px 20px;
    display: flex;
    justify-content: space-evenly;
}

.info{
    padding: 15px;
}

a{
    margin-left: 5px;
}

.languages{
   color:#8ab4f8 ;
   font-size: small;
}

.languages:hover{
    text-decoration: underline;
}